<div class="contentStyle">
    <!-- <router-outlet></router-outlet> -->
    <div class="row">
        <h1>Personel Yönetimi</h1>
      </div>
      <div class="row">
        <h5>Personel {{state}}</h5>
      </div>
      <div class="row">
        <div class="col-md-10">
            <form class='form form-group'>
              <div class="form-group" *ngIf="admin._id">
                <img class="logo" style="max-width: 100px" src="{{apiUrl}}/{{admin.photo}}" alt="">
              </div>
              <input id='firstName' class='formG form-control' type='text' name="firstName" [(ngModel)]="admin.firstName" value="{{admin.firstName}}" placeholder="Enter your name">
              <input id='lastName' class='formG form-control' type='text' name="lastName" [(ngModel)]="admin.lastName" value="{{admin.lastName}}" placeholder="Enter your surname">
              <input id='phone' class='formG form-control' type='text' name="phone" [(ngModel)]="admin.phone" value="{{admin.phone}}" placeholder="Enter your phone">
              <input id='email' class='formG form-control' type='text' name="email" [(ngModel)]="admin.email" value="{{admin.email}}" placeholder="Enter email">
              <input id='password' class='formG form-control' type='password' name="password" [(ngModel)]="admin.password" *ngIf="state == 'Ekle'" placeholder="Password">
              <div class="form-group">
                <ng-select [items]="pages"
                           bindLabel="name"
                           bindValue="path"
                           [multiple]="true"
                           placeholder="Erişim Sayfalarını Seç"
                           groupBy="category"
                           name="authority"
                           id="authority"
                           [(ngModel)]="admin.authority">
                </ng-select>
              </div>
              <div *ngIf="admin._id">
                <label for="photo" style="display: block" class="btn btn-outline-info">Firma logosunu Güncelle</label>
                <input style="display: none" type=file name='photo' id='photo' (change)='upload()' ng2FileSelect [uploader]='adminService.uploader'>
              </div>
              <button type="submit" class="btn btn-success" (click)="signUp(admin)" *ngIf="state == 'Ekle'">Ekle</button>
              <button type="submit" class="btn btn-success" (click)="adminUpdate(admin)" *ngIf="state == 'Güncelle'">Güncelle</button>
            </form>
        </div>
      </div>
      
      <div class="row" style="margin-top: 3%;">
        <h5>Aktif Personeller</h5>
      </div>
      
      <div class="row">
        <div class="col-md-10">
          <!-- ngFor duyuru döngüsü burada olacak -->
          <div *ngFor='let data of admins; let i = index'>
            <div class="input-group">
              <div class="form-control">{{data.firstName}} {{data.lastName}}</div>
              <div class="input-group-append" id="button-addon4">
                <button class="btn btn-warning" type="button" (click)="adminSelect(data)">Güncelle</button>
                <button class="btn btn-danger" type="button" (click)="remove(data._id, i)">Sil</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
</div>