<div class="row">
    <h1>Kategori Yönetimi</h1>
  </div>
  <div class="row" style="margin-top: 3%;">
    <h5>Yeni Kategori Ekle</h5>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="yeni kategori"
          aria-label="yeni kategori" aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
          <button class="btn btn-success" type="button">Ekle</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 3%;">
    <h5>Aktif Kategoriler</h5>
  </div>
  <div class="row">
    <div class="col-md-10">
      <!-- ngFor duyuru döngüsü burada olacak -->
      <div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="var olan kategoriler"
            aria-label="var olan kategoriler" aria-describedby="button-addon4">
          <div class="input-group-append" id="button-addon4">
            <button class="btn btn-warning" type="button">Güncelle</button>
            <button class="btn btn-danger" type="button">Sil</button>
          </div>
        </div>
      </div>
    </div>
  </div>
