    <div class="row">
        <h1>Banner Yönetimi</h1>
      </div>
      <div class="row">
        <h5>Yeni Banner Ekle</h5>
      </div>
      <div class="row">
        <div class="col-md-10">
          <form>
              <div class="form-group">
                <label for="examplebaslik">Banner Adı</label>
                <input type="text" class="form-control" id="examplebaslik" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect2">Banner konumu</label>
                <select multiple class="form-control" id="exampleFormControlSelect2">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <form>
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Banner Resmi Ekle</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
                </form>
              <button type="submit" class="btn btn-success">Kaydet</button>
            </form>
        </div>
      </div>
      
      <div class="row" style="margin-top: 3%;">
        <h5>Aktif Bannerlar</h5>
      </div>
      
      <div class="row">
        <div class="col-md-10">
          <!-- ngFor duyuru döngüsü burada olacak -->
          <form>
            <div class="form-group">
              <label for="examplebaslik">Banner Adı</label>
              <input type="text" class="form-control" id="examplebaslik" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect2">Banner konumu</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <form>
                <div class="form-group">
                  <label for="exampleFormControlFile1">Banner Resmi Ekle</label>
                  <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              </form>
            <button type="submit" class="btn btn-danger">Sil</button>
            <button type="submit" class="btn btn-warning">Güncelle</button>
          </form>


        </div>
      </div>
  
      
