<div class="contentStyle">
  <!-- <router-outlet></router-outlet> -->
  <div class="row">
    <h1>XML Güncelleme Yönetimi</h1>
  </div>
  <div class="row"> 
    <h5>Otomatik XML güncelleme sıklığı</h5>
  </div>
  <div class class="row">
    <div class="col-md-2">
      <select class="form-control">
        <option>1 saat</option>
        <option>3 saat</option>
        <option>6 saat</option>
        <option>12 saat</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary">Kaydet</button>
  </div>



</div>
