<div class="row">
  <h1>Ürün Yönetimi</h1>
</div>
<div class="row" style="margin-top: 3%;">
  <h5>Hızlı Ürün Ara</h5>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="ürün numarası gir..">
      <span class="input-group-btn">
        <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i></button>
      </span>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 3%;">
  <h5>Aktif Ürünler</h5>
</div>
<div class="row">
  <div class="col-md-10">
    <!-- ngFor duyuru döngüsü burada olacak -->
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <div class="row">
                <div class="c1ol1">Ürün Kodu</div>
                <div class="c1ol2">Ürün Adı</div>
                <div class="c1ol3">Mağaza Adı</div>
              </div>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <span>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon
                officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                3
                wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                vegan
                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth
                nesciunt
                you probably haven't heard of them accusamus labore sustainable VHS.
              </span>
            </div>
            <div class="row">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  Aktif ürün
                </label>
              </div>
            </div>
            <div class="row buttonRow" >
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">Güncelle</button>
                <button type="button" class="btn btn-danger">Sil</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
