<div class="row">
  <h1>Ürün Yönetimi</h1>
</div>
<div class="row" style="margin-top: 3%;">
  <h5>Hızlı Ürün Ara</h5>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Ürün Ara... (Ürün ismi, ürün id, ürün fiyatı...)" (input)="search($event.target.value)">
      <!-- <span class="input-group-btn">
        <button class="btn btn-search" type="button"><i class="fa fa-search fa-fw"></i></button>
      </span> -->
    </div>
  </div>
</div>

<div class="row">
  <button type="button" *ngIf="!common" class="btn btn-info" (click)="commonProducts()">Ortak Ürünleri Gör</button>
</div>

<div class="row" style="margin-top: 3%;">
  <h5>Aktif Ürünler</h5>
</div>
<div class="row">
  <img *ngIf="loading" src="../../../../assets/loader.svg"/>
</div>
<div *ngIf="!loading" class="row">
  <div class="input-group col-md-11" role="group" aria-label="product box" *ngFor="let product of products; let i = index">
    <div [ngClass]="{'bg-danger': product['state'] == 0, 'bg-warning': product['state'] == 1, 'bg-warning text-white': product['state'] == 2, 'bg-success': product['state'] == 3 }" type="text" class="form-control col-md-3 text-white" aria-label="product id">{{product._id}}</div>
    <div type="text" class="form-control col-md-7" style="overflow: hidden;" placeholder="product name" aria-label="mağaza adı">{{product.name}}</div>
    <div class="form-control col-md-2">
      <input type="checkbox" name="available" id="available" [checked]="product.availability" (change)="update(product)" [(ngModel)]="product.availability">
      <label for="available">Aktif/Pasif</label>
    </div>
    <div type="text" class="form-control col-md-1" placeholder="product price" aria-label="mağaza adı"
          aria-describedby="button-addon4">{{product.price}}₺</div>
    <div class="input-group-append" id="button-addon4">
      <button type="button" class="btn btn-warning" data-toggle="modal"
      data-target="#edit-panel" (click)="selectedProduct = product">Güncelle</button>
      <button type="button" class="btn btn-danger" (click)="remove(product._id, i)">Sil</button>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <li class="page-item" [class.disabled]="current <= 1">
    <a class="page-link page-link--with-arrow" aria-label="Previous" (click)="setPage(current - 1)">
        <
    </a>
</li>
<li *ngFor="let page of pages; trackBy: trackByFn" class="page-item" [class.active]="page === current">
  <a class="page-link" (click)="setPage(page)">
      {{ page }}
      <span *ngIf="page === current" class="sr-only">(current)</span>
  </a>
</li>
<li class="page-item" [class.disabled]="current >= total">
  <a class="page-link page-link--with-arrow" aria-label="Next" (click)="setPage(current + 1)">
      >
  </a>
</li>
</div>
<div class="modal fade" id="edit-panel" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ürünü Güncelle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row form-group">
            <label for="category" class="col-3">Kategori:</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.category" [(ngModel)]="selectedProduct.category">
          </div>
          <div class="row form-group">
            <label for="category" class="col-3">Alt Kategori:</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.subCategory" [(ngModel)]="selectedProduct.subCategory">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Mikro Kategori:</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.microCategory" [(ngModel)]="selectedProduct.microCategory">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">İsim</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.name" [(ngModel)]="selectedProduct.name">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Fiyat</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.price" [(ngModel)]="selectedProduct.price">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Model</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.model" [(ngModel)]="selectedProduct.model">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Marka</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.brand" [(ngModel)]="selectedProduct.brand">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Link</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.link" [(ngModel)]="selectedProduct.link">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Cargo</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.cargo" [(ngModel)]="selectedProduct.cargo">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Aktiflik Durumu</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.availability" [(ngModel)]="selectedProduct.availability">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">İçerik</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.details" [(ngModel)]="selectedProduct.details">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">Ürün Kodu</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.productCode" [(ngModel)]="selectedProduct.productCode">
          </div>
          <div class="row form-group">
            <label for="" class="col-3">EAN/UPC Kodu</label>
            <input class="form-control col-8" type="text" [value]="selectedProduct.eanUpcCode" [(ngModel)]="selectedProduct.eanUpcCode">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="selectedProduct.sameProducts" type="button" class="btn btn-info" data-dismiss="modal" (click)="connectedProducts(selectedProduct.sameProducts)">Bağlı Ürünleri Göster</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="update(selectedProduct)">Değişiklikleri Kaydet</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>