
.btn-search {
    background:  #009966;
    border-radius: 0px 5px 5px 0px;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color:  #009966;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #1c1c1c;
    color: #fff;
  }
  .c1ol1{
    margin-right: 20vw;
    margin-left: 1vw;
  }
  .c1ol2{
    margin-right: 20vw;
}
.input-group {
  margin-bottom: 10px;
}

.buttonRow{
    float: right!important;
    margin: 1%;
}
.warning, .undefined {
  background-color: #FFC107!important;
  color: rgb(44, 44, 44)!important;
}
.page-item {
  list-style-type: none;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}