<div class="row">
    <h1>Mail Bülteni Yönetimi</h1>
  </div>
  <div class="row">
    <h5>Mail Bülteni Oluştur</h5>
  </div>
  <div class="row">
    <div class="col-md-10">
      <form>
          <div class="form-group">
            <label for="examplebaslik">Mail Başlığı</label>
            <input type="text" class="form-control" id="examplebaslik" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="examplealtbaslik">Alt Metin</label>
            <input type="text" class="form-control" id="examplealtbaslik">
          </div>
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Resim Ekle</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
          <button type="submit" class="btn btn-success">Gönder</button>
        </form>
    </div>
  </div>
  