<div class="row">
    <div class="col-md-8">
      <h1>Arama Raporları</h1>
    </div>
    <div class="col-md-4">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Filtrele
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">En çok aranan kelimeler</a>
              <!-- <a class="dropdown-item" href="#">En çok aranan ürünler</a>
              <a class="dropdown-item" href="#">En çok aranan mağazalar</a> -->
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top:2%;">
    <div class="col-md-8">
      <h5>Top 10 Ürünler</h5>
      <!-- NgFor ya da DB'den gelen ürünlerin listelenmesi için, "badge-pill sayıyı göstermesi için" -->
      <div class="topcategories">
        <ul class="list-group">
          <div *ngFor="let product of searches; let i = index">
            <li class="list-group-item d-flex justify-content-between align-items-center" >
              <div>{{product.name}} -- {{product.searchCount.count}}</div>
              <span class="badge badge-primary badge-pill">{{i + 1}}</span>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
  