body {
    overflow-x: hidden;
  }
  
  .navbar-light .navbar-nav .nav-link {
    font-size: 13px;
  }
  
  .logoFiyat {
    margin: 1em;
    margin-bottom: 0.3em!important;
  }
  .userName {
    margin-top: 2em!important;
    margin-bottom: 0.3em!important;
  }
  
  .menubutton {
    background-color: #009966;
    color: aliceblue;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 300px;
  }
  
  #page-content-wrapper {
    width: calc(100vw - 300px);
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
    -o-transition: width .25s ease-out;
    transition: width .25s ease-out;
  }  

  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -300px;
    }

    #page-content-wrapper.toggled {
      width: 100vw;
    }
  }
  /* 
  .dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
  }
  
  .dropdown-submenu:hover .dropdown-menu,
  .dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
  }
  
  @media (max-width: 992px) {
    .dropdown-menu {
      width: 50%;
    }
  
    .dropdown-menu .dropdown-submenu {
      width: auto;
    }
  } */
  