<body>
  <div class="row topmenu">
    <div class="col-md-3">
      <img class="logoFiyat" src="../assets/homepage/logonamed.png" alt="fiyatvar.com" width="200">
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3 text-center">
      <p class="userName">{{admin.firstName + " " + admin.lastName}}</p>
      <p class="logout" (click)="logout()">Çıkış Yap!</p>
    </div>
  </div>
  <div class="row navbar">
    <!-- Wrapper -->
    <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"></div>
        <div class="list-group list-group-flush">
          <div class="col-md-12">
            <h5>Hızlı Erişim</h5>
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Ürün" aria-describedby="button-addon2" [(ngModel)]="productText">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="productSearch(productText)">Ara</button>
              </div>
            </div>
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Kategori" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ara</button>
              </div>
            </div>
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Mağaza" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ara</button>
              </div>
            </div>
            <div class="input-group mb-2">
              <input type="text" class="form-control" placeholder="Kullanıcı" aria-describedby="button-addon2" [(ngModel)]="userText">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="userSearch(userText)">Ara</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
          <button class="btn menubutton" id="menu-toggle"><i class="fas fa-bars"></i></button>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" style="cursor:pointer" routerLink="homepage">Anasayfa<span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li> -->

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false" style="cursor:pointer">Admin
                </a>
                <div class="dropdown-menu dropdown-menu-right multi-level">
                  <!-- Personel Kontrolü -->
                  <a class="dropdown-item" routerLink="staffcontroller">Personel Yönetimi<span
                    class="sr-only">(current)</span></a>
                  <!-- Personel Kontrolü end-->
                  <!-- İçerik Kontrolü -->
                  <div class="dropdown-item dropdown-submenu">
                    <a class=" dropdown-toggle" data-toggle="dropdown">İçerik Kontrolü</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="contentcontroller/announcements">Duyuru Yönetimi</a>
                      <a class="dropdown-item" routerLink="contentcontroller/slider">Slider Yönetimi</a>
                      <a class="dropdown-item" routerLink="contentcontroller/banner">Banner Yönetimi</a>
                      <a class="dropdown-item" routerLink="contentcontroller/adds">Reklam Yönetimi</a>
                      <a class="dropdown-item" routerLink="contentcontroller/promotions">Promosyonlar Yönetimi</a>
                      <!-- <a class="dropdown-item" routerLink="contentcontroller/mails">Mail Bülteni</a> -->
                      <a class="dropdown-item" routerLink="contentcontroller/agreement">Sözleşme Yönetimi</a>
                    </div>
                  </div>
                  <!-- İçerik Kontrolü end-->

                  <!-- Kategori Kontrolü -->
                  <div class="dropdown-item dropdown-submenu">
                    <a class=" dropdown-toggle" data-toggle="dropdown">Kategori Kontrolü</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="categorycontroller/categories">Kategori</a>
                      <a class="dropdown-item" routerLink="categorycontroller/products">Ürünler</a>
                    </div>
                  </div>
                  <!-- Kategori Kontrolü end-->


                  <!-- Güncelleme Kontrolü -->
                  <div class="dropdown-item dropdown-submenu">
                    <a class=" dropdown-toggle" data-toggle="dropdown">Güncelleme</a>
                    <div class="dropdown-menu">
                      <!-- <a class="dropdown-item" routerLink="updatecontroller/cronjob">Cronjob Ürünlerini Güncelle</a> -->
                      <a class="dropdown-item" routerLink="updatecontroller/cronjob">Xml Ürünlerini Güncelle</a>
                    </div>
                  </div>
                  <!-- Güncelleme Kontrolü end-->

                  <!-- Raporlar Kontrolü -->
                  <div class="dropdown-item dropdown-submenu">
                    <a class=" dropdown-toggle" data-toggle="dropdown">Raporlar</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" routerLink="reportcontroller/click">Tıklanma Rapoları</a>
                      <a class="dropdown-item" routerLink="reportcontroller/search">Arama Raporları</a>
                    </div>
                  </div>
                  <!-- Raporlar Kontrolü end-->

                  <!-- Blog Kontrolü -->
                  <!-- <div class="dropdown-item dropdown-submenu">
                    <a class=" dropdown-toggle" data-toggle="dropdown">Blog Yönetimi</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item">Blog Yazıları</a>
                      <a class="dropdown-item">Blog Kategorileri</a>
                    </div>
                  </div> -->
                  <!-- Blog Kontrolü end-->
                </div>
              </li>

              <!-- Mağazalar Kontrolü -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Mağazalar
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="shopcontroller/shops">Mağazalar</a>
                  <a class="dropdown-item" routerLink="shopcontroller/support">Mağaza Destek Bildirimleri</a>
                  <a class="dropdown-item" routerLink="shopcontroller/reference">Referans Sistemi</a>
                  <a class="dropdown-item" routerLink="accountingcontroller/credits">Kredi Yüklemeleri</a>
                  <a class="dropdown-item" routerLink="accountingcontroller/livesupport">Canlı Destek Alımları</a>
                  <a class="dropdown-item" routerLink="accountingcontroller/adds">Reklam Alımları</a>
                </div>
              </li>

              <!-- Kullanıcılar Kontrolü -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Kullanıcılar
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="usercontroller/users">Kullanıcılar</a>
                  <a class="dropdown-item" routerLink="usercontroller/pointsystem">Kullanıcı Puan Sistemi</a>
                  <a class="dropdown-item" routerLink="usercontroller/chequesystem">Çek Talepleri</a>
                  <a class="dropdown-item" routerLink="usercontroller/frontrunner">Puan Rekortmenleri</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>

      </div>

      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
  </div>
</body>
