<div class="row">
  <h1>XML Yönetimi</h1>
</div>
<div class="row rowClass">
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      XML formatı seç
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item">Action</a>
      <a class="dropdown-item">Another action</a>
      <a class="dropdown-item">Something else here</a>
    </div>
  </div>
</div>
<div class="row rowClass" style="width: 50%;">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Path giriniz... products/products" aria-label="Path giriniz... products/products"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Onayla</button>
    </div>
  </div>
</div>
<div class="row rowClass">
  <div class="col-md-4">
    <h5>Veri Tabanı</h5>
    <p>Ana Kategori:</p>
  </div>
  <div class="col-md-4">
    <h5>Veri Besleme</h5>
    <!-- NgFor Döncek -->
    <div class="selectiveMenu">
      <div class="btn-group">
        <button class="btn btn-outline-info btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Seç
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <a class="dropdown-item">Something else here</a>
          <div class="row selectInput">
            <div class="input-group">
              <input type="text" class="form-control">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Ekle</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <h5>Örnek</h5>
  </div>
</div>
