p {
    margin: 1%;
    font-size: large;
}
.rowClass{
    margin-top: 1%;
}
.selectInput{
   margin: 0%;
   display: inline-block;
}
.dataType {
    padding: 10px;
    min-width: 220px;
    margin-right: 10px;
}
.btn:hover {
    color: white;
}
.json {
    max-width: 80%;
    overflow: hidden;
}